#circle {
    height: 600px;
    width: 600px;
    background-color: grey;
    border-radius: 300px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
}

#circle2 {
    height: 600px;
    width: 600px;
    /* border: 30px solid #545454; */
    border-radius: 300px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#innerCircle {
    margin: -460px;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#verticalLine {
    height: 600px;
    width: 10px;
    background: grey;
    margin: 300px;
}

#horizontalLine {
    height: 10px;
    width: 600px;
    background: grey;
    margin: -600px;
}

#a {
    height: 0px;
    width: 0px;
    border: 140px solid green;
    border-top-left-radius: 280px;
}

#b {
    height: 0px;
    width: 0px;
    border: 140px solid red;
    border-top-right-radius: 280px;
}

#c {
    height: 0px;
    width: 0px;
    border: 140px solid yellow;
    border-bottom-left-radius: 280px;
}

#d {
    height: 0px;
    width: 0px;
    border: 140px solid blue;
    border-bottom-right-radius: 280px;
}