section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    background: grey;
    width: 80vh;
    height: 50vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

div {
    background: #030333;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

#one {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 0 20vh;
}

#two {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

#three {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}