<h3>Students:</h3>
<ul>
{{#each students}}
    <li><a href="/students/{{this._id}}">
    <span>{{this.name}}:</span>
    <span>{{this.age}}</span></a></li>
{{/each}}
</ul>
<hr><br>
<a href="/students/new">Create New Student</a>