<h3>New Student Form:</h3>
<form action="/students" method="POST">
    <label>Name: </label>
    <input type="text" name="name"><br>
    <label>Age: </label>
    <input type="number" name="age"><br>
    <button type="submit">Create</button>
</form>